body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#photoSlider {
    width: 100px;
}